<ion-header>
  <ion-toolbar>
    <ion-title>Alimentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let alimento of alimentos">
      <ion-label>
        <h2>{{ alimento.nombre }} ({{ alimento.calorias }} cal)</h2>
        <p>Proteínas: {{ alimento.proteinas }}g</p>
        <p>Carbohidratos: {{ alimento.carbohidratos }}g</p>
        <p>Unidad: {{ alimento.unidad }}</p>
      </ion-label>
      <ion-checkbox slot="end" [(ngModel)]="alimento.selected"></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="addFood()">Agregar Seleccionados</ion-button>
  <ion-button expand="block" color="primary" (click)="toggleFormulario()">Agregar Nuevo Alimento</ion-button>

  <!-- Formulario para agregar nuevo alimento -->
  <div *ngIf="mostrarFormulario">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="nuevoAlimento.nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Calorías</ion-label>
      <ion-input type="number" [(ngModel)]="nuevoAlimento.calorias"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Proteínas (g)</ion-label>
      <ion-input type="number" [(ngModel)]="nuevoAlimento.proteinas"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Carbohidratos (g)</ion-label>
      <ion-input type="number" [(ngModel)]="nuevoAlimento.carbohidratos"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Unidad</ion-label>
      <ion-input type="number" [(ngModel)]="nuevoAlimento.unidad"></ion-input>
    </ion-item>

    <ion-footer>
      <ion-button expand="block" color="danger" (click)="toggleFormulario()">Cancelar</ion-button>
      <ion-button expand="block" color="success" (click)="crearAlimento()">Agregar</ion-button>
    </ion-footer>
  </div>
</ion-content>
