/* Estilos generales del ion-content */
ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    --background: none; 
    background-image: url('/assets/Bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    padding: 20px; /* Espaciado alrededor de las tarjetas */
  }
  
  /* Estilos comunes para las tarjetas */
  ion-card {
    margin-bottom: 20px; /* Espaciado entre tarjetas */
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    background-color: rgba(169, 169, 169, 0.2); /* Fondo gris translúcido */
  }
  
  /* Estilos comunes para los encabezados de las tarjetas */
  ion-card-header {
    color: white;
    font-weight: bold;
  }
  
  /* Estilo específico para la tarjeta de lista de comidas */
  .card-list ion-card-header {
    background-color: #00BF86; /* Verde */
  }
  
  .card-list ion-card-title {
    font-size: 18px;
  }
  
  .card-list ion-item {
    font-size: 16px;
  }
  
  /* Estilo para el botón de agregar */
  .addreceta {
    margin-top: 20px;
    padding-top: 20%;
  }
  
  /* Estilos para el modal */
  ion-modal {
    --height: 80%;
    --width: 90%;
  }
  
  /* Estilos para la imagen de la receta */
  ion-item img {
    max-width: 100%;
    margin-top: 10px;
  }
  
  ion-item.recipe-name {
    --padding-start: 10px;
    --padding-end: 10px;
    --min-height: 40px;  /* Limitar la altura del item */
    font-size: 16px;  /* Reducir el tamaño del texto */
    white-space: nowrap;  /* Evita el salto de línea */
    overflow: hidden;  /* Oculta el contenido desbordante */
    text-overflow: ellipsis;  /* Si el texto es muy largo, se corta con '...' */
    justify-content: space-between;
  }
  
  /* Estilo para el ion-label de las recetas, que muestra el nombre */
  ion-item.recipe-name ion-label {
    max-width: 100%;  /* Asegura que el nombre ocupe todo el espacio disponible */
  }