/* Estilos generales del ion-content */
ion-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  --background: none;
  background-image: url('/assets/Bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  padding: 20px;
}

/* Contenedor principal con flexbox */
.content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
}

/* Estilos comunes para las tarjetas */
ion-card {
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  background-color: rgba(169, 169, 169, 0.2);
}

/* Estilo para el encabezado de la tarjeta */
ion-card-header {
  color: white;
  font-weight: bold;
}

/* Estilo específico para la tarjeta de lista de comidas */
.card-list ion-card-header {
  background-color: #00BF86; /* Verde */
}

.card-list ion-card-title {
  font-size: 18px;
}

.card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Ocupa todo el espacio disponible */
}

/* Contenedor de la lista con scroll y altura fija */
.list-container {
  height: 300px; /* Ajusta a la altura fija que desees */
  overflow-y: auto; /* Habilita el desplazamiento vertical */
  width: 100%;
  padding-bottom: 20px; /* Espacio para el botón */
}

/* Estilo para la imagen de la receta */
ion-item img {
  max-width: 100%;
  margin-top: 10px;
}

/* Estilo para el ion-label de las recetas */
ion-item.recipe-name {
  --padding-start: 10px;
  --padding-end: 10px;
  --min-height: 40px;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  justify-content: space-between;
}

/* Estilos para el botón de agregar comida */
.addreceta {
  position: fixed; /* Fija el botón en la parte inferior */
  bottom: 20px; /* Deja un espacio desde el fondo */
  width: 100%;
  padding-top: 20px;
  z-index: 10;
}

/* Asegúrate de que el modal no interfiera con el contenido */
ion-modal {
  --height: 80%;
  --width: 90%;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1px;  /* Puedes ajustar el margen si es necesario */
}

.logo {
  width: 100px;  /* Ajusta el tamaño del logo */
  height: auto;
}