<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>

      <ion-buttons slot="start">
        <ion-back-button defaultHref = "/login-form"></ion-back-button>
      </ion-buttons>

      <ion-title size="large">register</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="content-container">
    <img src="./assets/Logo.png" alt="">
    <div class="content-container">
      <div class="input-container">
        <ion-item>
          <ion-input placeholder="Correo electrónico" type="email" [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Contraseña" type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
      </div>
      
      <div class="buttons-container">
        <ion-button class="texto" expand="block" (click)="onRegisterButtonPressed()">Registrar</ion-button>
      </div> 
    </div>

  </div>
</ion-content>
